html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url(/img/bcrnd_blue.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
#navbar{
    display: flex;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
    height: 6rem;
    background: linear-gradient( rgba(0, 0, 0, 0.863),rgba(17, 16, 16, 0.288), rgba(7, 80, 109, 0.08));
    /* margin: 0 auto; */
}
.hamburger {
    display: none; /* Hidden by default on large screens */
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin-right: 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* background-image: linear-gradient( rgb(0, 124, 240), rgb(252, 144, 247)); */
    background-color: rgba(252, 251, 252, 0.911);
    transition: all 0.3s ease-in-out;
} 

/* Style the mobile menu when active (opened by JS) */
#nav-menu.active {
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Below the nav bar height */
    left: auto;
    right: 1rem;
    height: 5rem;
    /* width: ; */
    /* background-color: #045a8b49;  */
    /* box-shadow: 0 8px 16px rgba(252, 144, 247, 0.493); */
    padding: .5rem 0;
    margin: .5rem 0 0 0;
}
 .nav-list {
      display: flex;
      justify-content: space-around;
      margin-top: -3rem;
      height: 70px;
      width: 50%;
      /* max-width: 600px; */
      font-weight: 600;
  }
    
  .nav-list li {
    background: linear-gradient(rgba(8, 42, 73, 0.658), rgba(76, 199, 236, 0.658));
    margin-top: 3.5rem;
    border-radius: 3rem;
    margin-left: 4rem;
    padding: .4rem 2rem;
    color: white;
    font-size: 2rem;
    list-style-type: none;
    float: right;
      /* width: calc(100% / 3); */
    width: auto;
      border-radius: 10px;
      display: flex;
      align-items: center;
  }
    
  .nav-item {
      font-size: 1.5em;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.7s ease;
      color: rgb(255, 255, 255);
      text-decoration: none;
      border-color: rgba(0, 0, 0, 0.075);
      border-width: 0rem;
      /* border-radius: 1rem; */
      transition: transform .5s ease-in-out, color .5s ease-out, border-width .6s ease-in-out, border-color .4s ease-in-out, background-color .5s ease-in, box-shadow .4s ease-in-out;
  }
main{
    width: 100%;
    height: 60rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)), url(/img/NMS-GPic.jpg);
    background-size: contain;
    background-color: rgb(5,6,16);
    background-repeat: no-repeat;
    background-position: top;
}
section{
    width: 50%;
    text-align: center;
    float: left;
    margin-left: 2rem;
    font-size:2.5rem;
}
.white{
    color: white;
}
.black{
    background-color: #000;
}
aside hr,section hr{
    color: rgba(0, 0, 0, 0);
    height: 10px;
    margin: 0;
    border: none;
}
aside{
    margin-top: 3rem;
    /* height: 75rem; */
    float: right;
    width: 45%;
    clear: both;
}
aside ul{
    font-size: 1.5rem;
}
.topbutton{
    font-size: 1rem;
    position: fixed;
    right: 6%;
    bottom: 8%;
}
.topbutton button{
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    background: linear-gradient(rgba(76, 199, 236, 0.459), rgba(8, 42, 73, 0.575));
    color: aliceblue;
}
.topbutton button:hover{
    background: linear-gradient(rgba(38, 131, 192, 0.507), rgba(0, 0, 0, 0.39));
    color: aliceblue;
}
.topbutton button:active{
    background-color: rgb(127, 236, 255);
    color: #000;
}
@media screen and (max-width: 500px){
    html{
        font-size: 9px
    }
    main{
        width: 100%;
        height: 32rem;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)), url(/img/NMS-GPic.jpg);
        background-size: cover;
        background-color: rgba(5, 6, 16, 0.007);
        background-position: center;
    }
    nav ul li{
        margin-top: 3.5rem;
        border-radius: 1.25rem;
        margin-left: 1.25rem;
        padding: .4rem .5rem;
        font-size: 1.25rem;
    }
    .Server{
        font-size: .65rem;
    }
    section{
        width: 80%;
        font-size: 1.5rem;
    }
    aside{
        font-size: 3rem;
    }
}
@media screen and (max-width: 768px) {
    .nav-list {
        display: none; /* Hide the standard nav list */
    }

    .hamburger {
        display: block; /* Show the hamburger icon */
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }
}
/* @media screen and (min-width: 850px){
    html{
        font-size: 9px
    }
    main{
        background-color: none;
    }
    nav ul li{
    margin-top: 3.5rem;
    border-radius: 1.25rem;
    margin-left: 1.25rem;
    padding: .4rem .5rem;
    font-size: 1.25rem;
    }
    .Server{
        font-size: .75rem;
    }
    section{
        width: 80%;
    }
    aside{
        width: 70%;
    }
} */
/* @media screen and (min-width: 860px){
    html{
        font-size: 14px
    }
}
@media screen and (min-width: 1000px){
    html{
        font-size: 16px
    }
}
@media screen and (min-width: 1470px){
    html{
        font-size: 16px
    }
}
@media screen and (min-width: 1600px){
    html{
        font-size: 17px
    }
} */