*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
body{
    background-image: url(/img/bcrnd_blue.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.enterbutton{
    display: flex;
    justify-content: center;
}
.enterbutton button{
    margin: auto;
    padding: 1vh 1vw;
    font-size: 4vh;
    text-shadow: 5px 3px rgb(42, 120, 184);
    text-align: center;
    border-radius: 3.5vh;
    border-width: 3px;
    /* border: none; */
    border-color: rgba(76, 199, 248, 0.349);
    /* background-color: linear-gradient( rgb(0, 0, 0), rgb(241, 233, 233)); */
    background: linear-gradient(rgba(76, 199, 236, 0.507), rgba(8, 42, 73, 0.575));
    color: aliceblue;
    transition: transform .7s ease-in-out, color .5s ease-out, border-width .7s ease-in-out, border-color .9s ease-in-out;
}
.enterbutton button:hover {
    transform: scale(1.1,1.1);
    color: rgba(0, 0, 0, 0.719);
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.596);
}
@media all and (max-width: 1000px) {
    div video, .enterbutton {
        margin-top: 20vh;
    }
    .enterbutton button {
        margin-top: 20vh;
        font-size: 4.5vw;
        border-radius: 3.5vw;
        font-weight: 600;
    }
}
@media all and (min-width: 3000px) {
    div video {
        margin: auto;
        width: 60%;
        display: flex;
        justify-content: center;
    }
    /* .enterbutton button {
        margin-top: 20vh;
        font-size: 4vw;
        border-radius: 3.5vw;
        font-weight: 600;
    } */
}